@page "/counter"

<h1>Domain Explorer</h1>

<MatList>
    <MatListItem>
        line item
    </MatListItem>
    <MatListDivider></MatListDivider>
    <MatListItem>
        line item
    </MatListItem>
    <MatListDivider></MatListDivider>
    <MatListItem>
        line item
    </MatListItem>
</MatList>


@code {
    bool panelOpenState;
}
